@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background-image: radial-gradient(49% 81% at 45% 47%, #ffe20345 0%, #073aff00 100%),
    radial-gradient(113% 91% at 17% -2%, #ff5a00ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #ffdb00ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #ff3600 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #ff7000ff 0%, #ff0000ff 100%);
  /*background: linear-gradient(135deg, #ff5722, #ff9800);*/
}

.gradient-bg:hover {
  box-shadow: #ffa620ba 0px 0px 4px;
}
.glow-button {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 12px;
  transition: all 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 12px;
}
