@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background-image: radial-gradient(circle at 0% 0%, #0d948820 0%, transparent 30%),
    radial-gradient(circle at 100% 0%, #2dd4bf20 0%, transparent 30%),
    radial-gradient(circle at 100% 100%, #0d948820 0%, transparent 30%),
    radial-gradient(circle at 0% 100%, #2dd4bf20 0%, transparent 30%);
}
.glow-button {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 12px;
  transition: all 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 12px;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
@keyframes slow-spin-reverse {
  from {
    transform: rotate(360deg) translate(50%, 50%);
  }
  to {
    transform: rotate(0deg) translate(50%, 50%);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-slow-spin {
  animation: slow-spin 20s linear infinite;
}
.animate-slow-spin-reverse {
  animation: slow-spin-reverse 25s linear infinite;
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
